*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

ul,
ol {
  padding-left: 40px;
}

h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
.featuredImage {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  // height: 60px;
  // line-height: 60px;
  text-align: center;
  // color: rgba(0, 0, 0, 0.55);
  // box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
  background-color: #c76e32;
  box-shadow: 0 0 20px 0 #1f0704;
  display: grid;
  place-items: center;
  align-items: center;
  margin: 1em;
  margin-bottom: 20px;
}

.logo-wrapper {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  margin: auto;
}

.logo {
  line-height: 60px;
  font-size: 34px;
  font-weight: 700;
  color: #1f0704;
}

main .wrapper {
  padding: 50px 15px;
}

.post {
  padding: 20px;
  margin-bottom: 50px;
  background-color: #a87c60;
  box-shadow: 10px 20px 20px 10px #1f0704;
}

.post img {
  display: block;
  width: 100%;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
}
