*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

ul,
ol {
  padding-left: 40px;
}

h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
.featuredImage {
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

header {
  // height: 60px;
  // line-height: 60px;
  text-align: center;
  border-radius: 18px;
  // color: rgba(0, 0, 0, 0.55);
  //box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
  background-color: #1f0704;
  box-shadow: 0 0 20px 0 #1f0704;
  //display: grid;
  place-items: center;
  align-items: center;
  padding: 8px 0px;
  margin: 150px;
}

.logo {
  line-height: 60px;
  font-size: 34px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.55);
}

main .wrapper {
  padding: 50px 15px;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
}
.post {
  flex-grow: 1;
  width: 45%;
  height: auto;
  padding: 50px;
  //margin-bottom: 50px;
  margin: 10px;
  background-color: #a87c60;
  box-shadow: 10px 20px 20px 10px #1f0704;
}

@media all and (max-width: 1000px) {
  .post {
    width: 100%;
    padding: 20px;
  }
}

@media all and (max-width: 480px) {
  .post {
    padding: 10px;
  }
  .post section p {
    display: none;
  }
  .post .title {
    font-size: 16px;
  }
}

.post img {
  display: block;
  width: 100%;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
}
